:root {
    --primary-color: #544435;
    --point-color: #ff6d00;
    --w-color: #ffffff;
    --b-color: #4f4f4f;
    --bg-color: #f2f0ed;

    --inner-size: 129rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #4f4f4f;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.en_font {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
}

.inner {
    max-width: var(--inner-size);
    margin: 0 auto;
}

.default {
    padding: 12rem 0;
}

.default .title {
    max-width: var(--inner-size);
    margin: 0 auto;
    margin-bottom: 4rem;
}

.default .title h2 {
    font-size: 3.2rem;
}

.default .title .desc {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1.6rem;
}

.default.bg {
    background: var(--bg-color);
}


.btn_default {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.8rem 2.4rem;

    color: var(--w-color);
    border-radius: 8px;
    overflow: hidden;

    border: 1px solid rgba(255, 255, 255, 0.25);

}

.btn_default::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 0;
    background: var(--b-color);
    transition: 0.4s;
}

.btn_default:hover::before {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn_default::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -2;
    background: var(--primary-color);

}