#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

#header.on {
    background: rgba(0, 0, 0, 0.75);
}

#header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
}

#header .header_wrap h1 img {
    height: 3.2rem;
}

#header .header_wrap .gnb>ul {
    display: flex;
    gap: 8rem;
}

#header .header_wrap .gnb>ul>li>a {
    display: block;
    line-height: 12rem;
    color: var(--w-color);
    white-space: nowrap;

    transition: line-height 0.4s;
}

#header.on .header_wrap .gnb>ul>li>a {
    line-height: 8rem;
}

#header .header_wrap .gnb>ul>li {
    position: relative;
}

#header .header_wrap .gnb>ul>li ul {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -24px);
    background: rgba(84, 68, 53, 0.75);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    min-width: 16rem;

    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    transition: 0.4s;
}

#header .header_wrap .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -16px);
}

#header .header_wrap .gnb>ul>li ul>li a {
    display: block;
    line-height: 4rem;
    font-size: 1.4rem;
    color: var(--w-color);

    text-align: center;
    white-space: nowrap;

    transition: 0.4s;
}

#header .header_wrap .gnb>ul>li ul>li a:hover {
    background: var(--w-color);
    color: var(--b-color);
}

#header .header_wrap .gnb>ul>li ul>li~li a {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#header .header_wrap .utils a {
    color: var(--w-color);
}


.main_visual {
    position: relative;


}

.main_visual .main_visual_slide .itm {
    height: calc(100vh - 80px);
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01_11.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02_2.png) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03_3.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_visual .main_visual_slide .itm .txt strong {
    display: block;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
}

.main_visual .main_visual_slide .itm .txt p {
    font-size: 40px;
    font-weight: 700;
}

.main_visual .main_visual_slide .itm01 .txt strong {
    color: #fff;
}

.main_visual .main_visual_slide .itm01 .txt p {
    color: #fff;
}

.main_visual .main_visual_slide .itm02 .txt strong {
    color: #fff;
}

.main_visual .main_visual_slide .itm02 .txt p {
    color: #fff;
}

.main_visual .main_visual_slide .itm03 .txt strong {
    color: #fff;
}

.main_visual .main_visual_slide .itm03 .txt p {
    color: #fff;
}

.main_visual .main_visual_slide .itm .txt strong {
    opacity: 0;
    transform: translate(0, 80px);
}

.main_visual .main_visual_slide .itm.swiper-slide-active .txt strong {
    opacity: 1;
    transform: translate(0, 0px);
    transition: 0.4s 1s;
}

.main_visual .main_visual_slide .itm .txt p {
    opacity: 0;
    transform: translate(0, 80px);
}

.main_visual .main_visual_slide .itm.swiper-slide-active .txt p {
    opacity: 1;
    transform: translate(0, 0px);
    transition: 0.4s 1.6s;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    /* max-width: 1600px; */
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    background: transparent;
    border: none;

    width: 80px;
    height: 80px;
    background: rgb(0, 0, 0, 0.5);
}

.main_visual .arrows button img {
    width: 32px;
}

.main_visual .arrows .prev {
    left: 16px;
}

.main_visual .arrows .next {
    right: 16px;
}

.main_visual .wheel {
    position: absolute;
    bottom: 80px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 8px;
    background: #fff;

    border-radius: 2px;

    animation: wheel 0.4s infinite;
}

.main_visual .wheel::after {
    content: "";
    display: block;
    width: 32px;
    height: 48px;
    border: 2px solid #fff;

    border-radius: 16px;

    margin: 0 auto;
    margin-top: 24px;
}

.main_visual .wheel span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;

}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}

.main_news {}

.main_news .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.main_news .itm figure {
    margin-bottom: 0.8rem;
}

.main_news .itm img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.main_concept {}

.main_concept .inner {
    display: flex;
    gap: 3rem;
}

.main_concept .inner>* {
    flex: 1;

    border-top: 1px solid var(--b-color);
    padding-top: 6.4rem;
}

.main_concept .itm {
    position: relative;
}

.main_concept .itm h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.main_concept .itm::after {
    content: "";
    position: absolute;
    top: 2.4rem;
    right: 0;

    width: 100px;
    height: 100px;
    /* background-color: var(--bg-color); */
    background-image: url(../lib/imges/line_iconset_b01.png);
}

.main_concept .icon01::after {
    background-position: -200px -200px;
}

.main_concept .icon02::after {
    background-position: 0px 0px;
}

.main_concept .icon03::after {
    background-position: -600px 0px;
}

.main_store {
    position: relative;
    background: url(../images/bg_img_4.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.main_store::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}

.main_store .title {
    position: relative;
    margin-bottom: 0;
}

.main_store .title h2 {
    color: var(--w-color);
    font-weight: 200;
}

.main_store .title h2 strong {
    font-weight: 700;
}

.main_store .title .desc {
    color: var(--w-color);
}

.main_promotion {}

.main_promotion .inner {
    display: flex;

    gap: 30px
}

.main_promotion .inner .desc {
    flex: 1;

    padding-top: 40px;
}

.main_promotion .inner .desc .control {
    display: flex;
    gap: 8px;
}

.main_promotion .inner .desc .control button {
    width: 40px;
    height: 40px;
    background: #333;
}

.main_promotion .inner .desc .control button img {
    width: 16px;
}

.main_promotion .inner .movie {
    flex: 2;
}

.main_promotion video {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.main_menu .swiper-wrapper {
    transition-timing-function: linear;
}

.main_menu .main_menu_slide .itm .img_box {
    margin-bottom: 2.4rem;
}

.main_menu .main_menu_slide .itm strong {
    display: block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.main_menu .main_menu_slide .itm span {
    display: block;
    text-align: center;
}




.footer {
    padding: 80px 0;
    background: #333;
}

.footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .inner h1 {
    margin: 40px;
}

.footer .inner p {
    color: #fff;
    margin: 8px;
}

.footer .customer {
    display: flex;
    gap: 30px;
    margin-bottom: 16px;
}

.footer .customer a {
    color: #fff;

}

.footer .customer li {
    position: relative;
}

.footer .customer li~li a::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translate(0, -50%);

    width: 1px;
    height: 0.5em;
    background: #fff;

}

.footer address {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

    opacity: 0.5;
}

.to_top {
    position: fixed;
    bottom: 240px;
    right: -80px;
    z-index: 999;

    width: 40px;
    height: 40px;
    background: #555;

    transition: 0.4s;
}

.to_top.on {
    right: 80px;
}